<ion-footer>
    <ion-tab-bar color="dark">
      <ion-tab-button routerLink="/welcome">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/scan">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>Scansiona</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/home/collection">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <ion-label>Collezione</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/deck">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Mazzi</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/home/utente">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
  