
  
  ion-title {
    text-align: center;
  }
  

  ion-header {
    background: #12121f; /* Colore scuro uniforme */
    color: white !important;
    border-bottom: none;
    box-shadow: 0px 4px 10px rgba(255, 157, 0, 0.4); /* Ombra dorata */
  }